
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

.container {
    width: 90%;
    max-width: 2000px;
    margin: auto;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.logo {
    font-size: 4rem;
    font-weight: 600;
    color: #e8d5f5;
}

nav a {
    text-decoration: none;
    color: #efeaf0;
    margin-left: 20px;
    transition: 0.3s;
    font-size:2rem;
}

nav a:hover {
    color: #22d3ee;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.hero-text {
    max-width: 1000px;
}

.hero-text h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.hero-text p {
    color: #7b94b6;
    margin-bottom: 30px;
    font-size:1.5rem;
}

.btn a{
    padding: 20px 60px;
    border: 2px solid white;
    border-radius: 8px;
    background: #25044b;
    color: #e5e8f0;
    font-weight: 1000;
    cursor: pointer;
    transition: 0.3s;
    font-size:1rem;
    text-decoration:none;
    margin-bottom:100px;
}


.btn:hover {
    background: #5f3f94;
}

.hero-img {
    background: #1e293b;
    padding: 40px;
    border-radius: 16px;
}

/* FEATURES */
.features {
    padding: 100px 0;
    text-align: center;
}

.features h2 {
    margin-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: #94a3b8;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px 0;
    color: #64748b;
}
